<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.web>
        <compilation debug="true"  />
        <httpRuntime  />
    </system.web>
    <appSettings>
        <?xml version="1.0" encoding="utf-8" ?>
        <configuration>
            <connectionStrings>
                <add name="SchoolDBConnectionString"
                     connectionString="Data Source=TÊN_SERVER_CỦA_BẠN;Initial Catalog=SchoolDB;Integrated Security=True;"
                     providerName="System.Data.SqlClient" />
            </connectionStrings>
        </configuration>
    </appSettings>
</configuration>
